.privacidade-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.privacidade-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacidade-details1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.privacidade-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.privacidade-text {
  color: var(--dl-color-primary1-blue80);
  text-align: left;
  font-family: "Raleway";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.privacidade-details-heading {
  width: 80%;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.privacidade-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.privacidade-text04 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text06 {
  font-style: normal;
  font-weight: 700;
}
.privacidade-text07 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.privacidade-text09 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text11 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text12 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text13 {
  font-style: normal;
  font-weight: 700;
}
.privacidade-text14 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text16 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text18 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text19 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text20 {
  font-style: normal;
  font-weight: 700;
}
.privacidade-text21 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.privacidade-text23 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text24 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text25 {
  font-style: normal;
  font-weight: 700;
}
.privacidade-text26 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text28 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text29 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text30 {
  font-style: normal;
  font-weight: 700;
}
.privacidade-text31 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text33 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text34 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text36 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
.privacidade-text37 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  line-height: 1.6;
}
@media(max-width: 991px) {
  .privacidade-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text03 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text05 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text06 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text08 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text10 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text13 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text15 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text17 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text20 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text22 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text25 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text27 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text30 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text32 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text35 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .privacidade-text38 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .privacidade-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .privacidade-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .privacidade-text {
    text-align: center;
  }
  .privacidade-details-heading {
    text-align: center;
  }
  .privacidade-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text03 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text05 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text06 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text08 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text10 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text13 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text15 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text17 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text20 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text22 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text25 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text27 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text30 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text32 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text35 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .privacidade-text38 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
