.sobre-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sobre-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.sobre-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.sobre-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}
.sobre-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.sobre-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sobre-nav1 {
  transition: 0.3s;
}
.sobre-nav1:hover {
  color: #3d6e70ff;
}
.sobre-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.sobre-nav2:hover {
  color: #3d6e70ff;
}
.sobre-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.sobre-nav3:hover {
  color: #3d6e70ff;
}
.sobre-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.sobre-nav4:hover {
  color: #3d6e70ff;
}
.sobre-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.sobre-nav5:hover {
  color: #3d6e70ff;
}
.sobre-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sobre-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.sobre-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.sobre-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.sobre-burger-menu {
  display: none;
}
.sobre-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.sobre-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.sobre-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sobre-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sobre-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.sobre-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobre-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.sobre-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sobre-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.sobre-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.sobre-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.sobre-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.sobre-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.sobre-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sobre-login1 {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.sobre-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.sobre-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.sobre-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sobre-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sobre-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sobre-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sobre-form {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 767px) {
  .sobre-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sobre-desktop-menu {
    display: none;
  }
  .sobre-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sobre-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .sobre-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sobre-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .sobre-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .sobre-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .sobre-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .sobre-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .sobre-logo {
    font-size: 1.5em;
  }
  .sobre-mobile-menu {
    padding: 16px;
  }
  .sobre-logo1 {
    font-size: 1.5em;
  }
  .sobre-icon02 {
    fill: var(--dl-color-gray-900);
  }
}
